{% include "header.html" %}
<h1 class="header">Edit Book Item</h1>
<form action="{{url_for('editItem' ,categories_id=categories_id, items_id=items_id, item=editedItem)}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="30" name="name" placeholder = '{{item.name}}'>
  <p>Description:</p>
  <input type="text" size="30"  name="description" placeholder = '{{item.description}}'>
  <p>Film genres:</p>
  <select name="categories_id">
    <option value="" selected="selected"></option>
    <option value=1 >Biography</option>
    <option value=2 >Business</option>
    <option value=3 >Classics</option>
    <option value=4 >Fiction</option>
    <option value=5 >Fantasy</option>
    <option value=6 >History</option>
    <option value=7 >Romance</option>
    <option value=8 >Science Fiction</option>
    <option value=9 >Psychology</option>
    <option value=10 >Horror</option>
  </select>
  </br></br>
  <input type="submit" value ="Update">
  <a href = "{{url_for('showItem',categories_id=categories_id, items_id=items_id)}}"><button type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>
