{% include "header.html" %}
<h1 class="header">New Book Item</h1>
<form action="{{url_for('newItem')}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="30" name="name">
  <p>description:</p>
  <input type="text" size="30" name="description">
  <p>Book Genres:</p>
  <select name="categories_id">
    <option value=1 >Biography</option>
    <option value=2 >Business</option>
    <option value=3 >Classics</option>
    <option value=4 >Fiction</option>
    <option value=5 >Fantasy</option>
    <option value=6 >History</option>
    <option value=7 >Romance</option>
    <option value=8 >Science Fiction</option>
    <option value=9 >Psychology</option>
    <option value=10 >Horror</option>
  </select>
  </br></br>
  <input type="submit" value ="Create">
  <a href = "{{url_for('showCatalog')}}"><button type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>
